body { behavior:url(Runtime/runtimeEvents.htc); }
#oTopLevelLayer { behavior:url(#default#userData); }
gm\:mplayer { behavior:url(Runtime/mplayer.htc); }
gm\:navtreemenu { behavior:url(Runtime/menu.htc); }
gm\:navmenu { behavior:url(Runtime/menu.htc); }
gm\:navprogress { behavior:url(Runtime/navigation.htc); }
gm\:navtimer { behavior:url(Runtime/navigation.htc); }
gm\:navcrumbs { behavior:url(Runtime/navigation.htc); }
gm\:navbutton { behavior:url(Runtime/navigation.htc); }
gm\:navpopup { behavior:url(Runtime/navigation.htc); }
gm\:dragdrop { behavior:url(Runtime/dragdrop.htc); }
gm\:feedback { behavior:url(Runtime/feedback.htc); }
gm\:fillBlank { behavior:url(Runtime/fillBlank.htc); }
gm\:hotspots { behavior:url(Runtime/hotspots.htc); }
gm\:multichoice { behavior:url(Runtime/multiChoice.htc); }
gm\:hotword { behavior:url(Runtime/popups.htc); }
gm\:hint { behavior:url(Runtime/popups.htc); }
gm\:objtrans { behavior:url(Runtime/objTrans.htc); }
gm\:narratemute { behavior:url(Runtime/narrateMute.htc); }
gm\:ccbox { behavior:url(Runtime/closedCaption.htc); }
gm\:ccbutton { behavior:url(Runtime/closedCaption.htc); }
gm\:testfeedback { behavior:url(Runtime/testfeedback.htc); }
gm\:variable { behavior:url(Runtime/variable.htc); }
gm\:userid { behavior:url(Runtime/user.htc); }
gm\:usearch { behavior:url(Runtime/mashup.htc); }
gm\:blog { behavior:url(Runtime/blog.htc); }
gm\:login { behavior:url(Runtime/login.htc); }
gm\:rating { behavior:url(Runtime/rating.htc); }
gm\:survey { behavior:url(Runtime/survey.htc); }
gm\:richtext { behavior:url(Runtime/richtext.htc); }
gm\:extension { behavior:url(Runtime/extension.htc); }
.gmgame { behavior:url(Runtime/game.htc); }
