body {margin:0;overflow:hidden;cursor:default;background-color:white;width:100%;height:100%;border:0;}
v\:*, gmv\:* {behavior:url(#default#VML);antialias:true;}
.failMsg {padding:15px;height:100%;font-family:tahoma;font-size:13px;}
.failMsg li {margin-bottom:15px;}
.topLevelLayer {position:relative;background-color:white;}
#oContentArea {position:absolute;top:0;left:0;width:100%;height:100%;background-color:transparent !important;background-image:none !important;overflow:hidden;padding:0;}
#oMenuContent, #oMasterContent, #oDocContent {padding:5px;position:absolute;top:0;left:0;width:100%;height:100%;background-color:transparent !important;background-image:none !important;}
#oDocContent {z-index:2;}
#oMenuContent {z-index:1;}
#oMenuContent.above {z-index:3;}
#oMasterContent {z-index:0;}
gm\:transalpha {position:absolute;top:0;left:0;width:100%;height:100%;background-image:url(Images/trans.gif);overflow:hidden;z-index:-1;}
#narrateHolder {position:absolute;top:-10000em;left:0;}
gm\:variable {margin-top:-100000px;}
gm\:variable.isReady {margin-top:auto;}
gm\:rating {margin-top:-100000px;}
gm\:rating.isReady {margin-top:auto;}
