#bubble {
	position: absolute;
	display: none;
  }
#bubbleImg {
	border: 0px solid #BBBBBB;
}
div.Article {
  background:  url("../imagenes/bubble_topleft.gif") top left no-repeat;
  position:relative;
  } 
 div.Article .ArticleHeader {
  position:relative;
  background:  url("../imagenes/bubble_topright.gif") top right no-repeat;
  height: 22px;
  right: -22px;
  }
div.ArticleBody {
  background:  url("../imagenes/bubble_right.gif") top right repeat-y;
  position:relative;
  right: -22px;
  font-size:1px; /* ie hack */
  }
div.ArticleFooter {
  background:  url("../imagenes/bubble_bottomleft.gif") bottom left no-repeat;
  position:relative;
  height: 30px;
  top:43px;
  margin-top: -43px;
  }
div.ArticleFooter .ArticleFooterBottomRight {
  background:  url("../imagenes/bubble_bottomright.gif") bottom right no-repeat;
  position:relative;
  height: 30px;
  right: -22px;
  }
div.ArticleFooterTail {
  background:  url("../imagenes/bubble_tail.gif") bottom left no-repeat;
  position:relative;
  top:43px;
  height: 27px;
  }#sign {
	position: absolute;
	height: 20px;
	width: 80px;
	left: 23px;
	top: 63px;
}
