/* http://www.oscaralexander.com/tutorials/how-to-make-sexy-buttons-with-css.html */

.sexy-button-clear { /* generic container (i.e. div) for floating buttons */
    overflow: hidden;
    width: 100%;
    display: inline;
	text-decoration: none;
}

a.sexy-button {
    background: transparent url('../images/bg_button_a.gif') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 2px;
    padding-right: 12px; /* sliding doors padding */
	text-indent: -6px;
    text-decoration: none;
	
}

a.sexy-button:hover {
    text-decoration: none;
}

a.sexy-button span {
    background: transparent url('../images/bg_button_span.gif') no-repeat;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;
	text-decoration: none;
}

a.sexy-button:active {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
	text-decoration: none;
}

a.sexy-button:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px; /* push text down 1px */
	text-decoration: none;
}
