
.topLevelLayer {background-color:white;}
gm\:contentarea {font-size:13px;font-family:Verdana;color:#003466;background-color:white;}
gm\:contentarea gm\:box {border:1px solid #336799;width:450px;}
gm\:contentarea gm\:hsep {border:0px none;font-size:0;overflow:hidden;width:80%;height:5px;background-color:#336799;}
gm\:contentarea gm\:vsep {border:0px none;font-size:0;overflow:hidden;width:5px;height:80%;background-color:#336799;}
gm\:header1 {color:#003466;}
gm\:header2 {color:#336799;}
gm\:header3 {color:#336799;}
gm\:footer1 {color:#003466;}
gm\:comment {color:#003466;}
gm\:contentarea table {font-size:13px;background-color:#eef0da;}
gm\:contentarea a:link {color:#336799;}
gm\:contentarea a:hover {color:#60a1d7;}
gm\:contentarea a:visited {
}
gm\:contentarea ul {list-style-image:url(mildWater/bullet.gif);}
gm\:contentarea li {
}
gm\:contentarea gm\:designhint {
}
gm\:contentarea marquee {
}
gm\:contentarea gm\:dragdrop {border:0 none;}
gm\:contentarea gm\:dragitem {border:1px solid #60a1d7;}
gm\:contentarea gm\:droparea {border:1px solid #336799;}
gm\:contentarea gm\:feedback {border:0 none;}
gm\:contentarea gm\:fbvalidate {border:0 none;background:#336799;width:128px;height:29px;padding:2px;padding-top:7px;text-align:center;cursor:#E0E0E0;color:white;font-weight:bold;font-size:11px;}
gm\:contentarea gm\:fbright {border:4px solid #336799;background:#eef0da;color:#003466;font-weight:bold;width:100%;height:82px;}
gm\:contentarea gm\:fbwrong {border:4px solid #336799;background:#eef0da;color:#003466;font-weight:bold;width:100%;height:82px;}
gm\:contentarea gm\:fbpartial {border:4px solid #336799;background:#eef0da;color:#003466;font-weight:bold;width:100%;height:82px;}
gm\:contentarea gm\:fbfinal {border:4px solid #336799;background:#eef0da;color:#003466;font-weight:bold;width:100%;height:52px;}
gm\:contentarea gm\:fbretry {background:transparent;color:#336799;font-weight:bold;text-align:right;text-decoration:underline;cursor:hand;}
gm\:contentarea gm\:fbfix {background-color:transparent;color:#336799;font-weight:bold;text-align:right;text-decoration:underline;cursor:hand;}
gm\:contentarea gm\:fbclose {background-color:transparent;color:#336799;font-weight:bold;text-align:right;text-decoration:underline;cursor:hand;}
gm\:contentarea gm\:fbrange {border:4px solid #336799;background:#eef0da;color:#003466;font-weight:bold;width:100%;height:52px;}
gm\:contentarea gm\:fbcustom {border:4px solid #336799;background:#eef0da;color:#003466;font-weight:bold;width:100%;height:52px;}
gm\:contentarea gm\:hint {border:0 none;background:#336799;width:128px;height:29px;padding:2px;padding-top:7px;text-align:center;cursor:#E0E0E0;color:white;font-weight:bold;font-size:11px;}
gm\:contentarea gm\:hintpop {}
gm\:contentarea gm\:hinticon {top:7px;left:8px;}
gm\:contentarea gm\:fillblank {border:0 none;}
gm\:contentarea gm\:blankquestion {border:0 none;}
gm\:contentarea gm\:blankitem {width:100px;}
gm\:contentarea gm\:blankwrite {border-bottom:1px dashed #003466;}
gm\:contentarea gm\:blankselect {background:white url(mildWater/def_fillblank.gif) no-repeat center center;border:1px solid #003466;cursor:hand;}
gm\:contentarea gm\:blankoptions {border:1px solid black;}
gm\:contentarea gm\:blankoption {background-color:#f6f6f6;}
gm\:contentarea gm\:blankrange {background-color:#f6f6f6;}
gm\:contentarea gm\:blankmask {background-color:#f6f6f6;}
gm\:contentarea gm\:hotspots {border:0 none;}
gm\:contentarea gm\:hotspot {border:1px solid #c60000;}
gm\:contentarea gm\:hotpop {border:1px solid #60a1d7;}
gm\:contentarea gm\:multichoice {border:0 none;}
gm\:contentarea gm\:mcquestion {color:#003466;font-weight:bold;}
gm\:contentarea gm\:mcanswer {padding:3px 30px 3px 30px;cursor:hand;background-image:url(mildWater/def_bullet.gif);}
gm\:contentarea gm\:mcanswer.pressed {background-image:url(mildWater/def_pressedbullet.gif);}
gm\:contentarea gm\:mcanswer.right {background-image:url(mildWater/def_rightbullet.gif);}
gm\:contentarea gm\:mcanswer.wrong {background-image:url(mildWater/def_wrongbullet.gif);}
gm\:contentarea .pointclick gm\:mcanswer {
}
gm\:contentarea .pointclick gm\:mcanswer.pressed {background-image:none;}
gm\:contentarea .pointclick gm\:mcanswer.right {background-image:none;}
gm\:contentarea .pointclick gm\:mcanswer.wrong {background-image:none;}
gm\:contentarea gm\:variable.projectTitle {font-size:21px;color:white;}
gm\:contentarea gm\:variable.locationTitle {font-size:19px;color:#545454;}
gm\:contentarea gm\:navtreemenu {border:0 none;}
gm\:contentarea gm\:navmenu {border:0 none;}
gm\:contentarea gm\:navchapter {margin-top:10px;display:block;font-weight:bold;font-size:13px;background-image:url(mildWater/menu_chap.gif);width:317px;cursor:hand;color:#003466;border:0 none;padding-left:43px;padding-top:5px;background-repeat:no-repeat;font-family:Verdana;height:26px;background-color:transparent;}
gm\:contentarea .columns gm\:navchapter {width:190px;height:20px;margin-top:10px;margin-right:10px;background:transparent url(mildWater/menu_bg_chap.gif) repeat-x left top;border:0 none;padding:0;padding-left:15px;}
gm\:contentarea .rows gm\:navchapter {width:190px;height:20px;background:transparent url(mildWater/menu_bg_chap.gif) repeat-x left top;border:0 none;padding:0;padding-left:15px;}
gm\:contentarea .bars gm\:navchapter {width:220px;height:20px;margin-top:4px;background:transparent url(mildWater/menu_bg_chap.gif) repeat-x left top;border:0 none;padding:0;padding-left:15px;}
gm\:contentarea .pop gm\:navchapter {width:180px;height:20px;margin-bottom:6px;background:transparent url(mildWater/menu_bg_chap.gif) repeat-x left top;border:0 none;padding:0;padding-left:15px;}
gm\:contentarea gm\:navpage {margin-top:10px;display:block;font-weight:bold;font-size:13px;background-image:url(mildWater/menu_page.gif);padding-bottom:4px;width:317px;cursor:hand;color:#003466; 
border:0 none;padding-left:43px;padding-top:5px;background-repeat:no-repeat;font-family:Verdana; 
height:26px; 
background-color:transparent;}
gm\:contentarea .columns gm\:navpage {width:190px;height:20px;margin-top:10px;margin-right:10px;background:transparent url(mildWater/menu_bg_page.gif) repeat-x left top;border:0 none;padding:0;padding-left:15px;}
gm\:contentarea .rows gm\:navpage {width:190px;height:20px;background:transparent url(mildWater/menu_bg_page.gif) repeat-x left top;border:0 none;padding:0;padding-left:15px;}
gm\:contentarea .bars gm\:navpage {width:220px;height:20px;margin-top:4px;background:transparent url(mildWater/menu_bg_page.gif) repeat-x left top;border:0 none;padding:0;padding-left:15px;}
gm\:contentarea .pop gm\:navpage {width:180px;height:20px;margin-bottom:6px;background:transparent url(mildWater/menu_bg_page.gif) repeat-x left top;border:0 none;padding:0;padding-left:15px;}
gm\:contentarea gm\:navsubchapter {font-weight:bold;font-size:13px;cursor:hand;color:#003466; 
padding:0;padding-left:15px;font-family:Verdana; 
}
gm\:contentarea .columns gm\:navsubchapter {width:170px;height:20px;margin-top:6px;background:transparent url(mildWater/menu_bg_chap.gif) repeat-x left top;border:0 none;padding:0;padding-left:15px;}
gm\:contentarea .rows gm\:navsubchapter {width:100px;height:20px;background:transparent url(mildWater/menu_bg_chap.gif) repeat-x left top;border:0 none;padding:0;padding-left:15px;}
gm\:contentarea .bars gm\:navsubchapter {width:210px;height:20px;margin-top:4px;background:transparent url(mildWater/menu_bg_chap.gif) repeat-x left top;border:0 none;padding:0;padding-left:15px;}
gm\:contentarea .pop gm\:navsubchapter {width:180px;height:20px;margin-bottom:6px;background:transparent url(mildWater/menu_bg_chap.gif) repeat-x left top;border:0 none;padding:0;padding-left:15px;}
gm\:contentarea gm\:navsubpage {font-weight:bold;font-size:13px;padding:0;padding-left:15px;cursor:hand;color:#003466; 
font-family:Verdana;}
gm\:contentarea .columns gm\:navsubpage {width:170px;height:20px;margin-top:6px;background:transparent url(mildWater/menu_bg_page.gif) repeat-x left top;padding:0;padding-left:15px;border:0 none;}
gm\:contentarea .rows gm\:navsubpage {width:100px;height:20px;background:transparent url(mildWater/menu_bg_page.gif) repeat-x left top;padding:0;padding-left:15px;border:0 none;}
gm\:contentarea .bars gm\:navsubpage {width:210px;height:20px;margin-top:4px;background:transparent url(mildWater/menu_bg_page.gif) repeat-x left top;padding:0;padding-left:15px;border:0 none;}
gm\:contentarea .pop gm\:navsubpage {width:180px;height:20px;margin-bottom:8px;background:transparent url(mildWater/menu_bg_page.gif) repeat-x left top;padding:0;padding-left:15px;border:0 none;}
gm\:contentarea gm\:navmenulevel {margin-left:0 !important;margin-right:0 !important;border:0 none;}
gm\:contentarea gm\:navmenulevel gm\:navmenulevel gm\:navchapter,gm\:contentarea gm\:navmenulevel gm\:navmenulevel gm\:navpage {padding-left:63px;}
gm\:contentarea gm\:navmenulevel gm\:navmenulevel gm\:navmenulevel gm\:navchapter,gm\:contentarea gm\:navmenulevel gm\:navmenulevel gm\:navmenulevel gm\:navpage {padding-left:83px;}
gm\:contentarea gm\:navmenulevel gm\:navmenulevel gm\:navmenulevel gm\:navmenulevel gm\:navchapter,gm\:contentarea gm\:navmenulevel gm\:navmenulevel gm\:navmenulevel gm\:navmenulevel gm\:navpage {padding-left:103px;}
gm\:contentarea gm\:navmenulevel gm\:navmenulevel gm\:navmenulevel gm\:navmenulevel gm\:navmenulevel gm\:navchapter,gm\:contentarea gm\:navmenulevel gm\:navmenulevel gm\:navmenulevel gm\:navmenulevel gm\:navmenulevel gm\:navpage {padding-left:123px;}
gm\:contentarea .columns gm\:navmenulevel {width:190px;margin-top:10px;padding:8px;font-size:0;text-align:center;background-color:#eef0da;} 
gm\:contentarea .rows gm\:navmenulevel {
} 
gm\:contentarea .bars gm\:navmenulevel {width:190px;height:28px;font-size:0;text-align:center;border:0 none;} 
gm\:contentarea .pop gm\:navmenulevel {width:200px;padding:8px 8px 0 8px;font-size:0;text-align:center;top:10px !important;left:220px !important;background-color:#eef0da;} 
gm\:contentarea gm\:navmarkdone {left:auto; 
right:-3px;background:transparent url(mildWater/menu_done.gif) no-repeat top center;;width:9px;top:6px;height:7px;}
gm\:contentarea .tree gm\:navmarkdone {left:6px; 
top:9px;}
gm\:contentarea gm\:navmarkdone.rtl {right:auto !important;left:4px;}
gm\:contentarea gm\:navmarkstarted {left:auto; 
right:-3px;background:transparent url(mildWater/menu_started.gif) no-repeat top center;;width:9px;top:6px;height:7px;}
gm\:contentarea .tree gm\:navmarkstarted {left:6px; 
top:9px;}
gm\:contentarea gm\:navmarkstarted.rtl {right:auto !important;left:4px;}
gm\:contentarea gm\:navmarkcurrent {left:5px;background-image:url(mildWater/menu_cur2.gif);width:5px;top:6px;height:7px;}
gm\:contentarea gm\:navmarkcurrent.rtl {left:auto !important;right:-12px;}
gm\:contentarea .tree gm\:navmarkcurrent {background-image:url(mildWater/menu_cur.gif);left:0;top:0;width:23px;height:26px;z-index:10;}
gm\:contentarea .compactree gm\:navchapter {color:#003466;}
gm\:contentarea .compactree gm\:navpage {color:#003466;}
gm\:contentarea gm\:navcrumbs {height:20px;border:0px none;font-weight:bold;font-size:12px;}
gm\:contentarea gm\:navcrumbsprevious {color:#c0d7e9;}
gm\:contentarea gm\:navcrumbssep {width:25px;height:20px;background:transparent url(mildWater/def_breadcrumb_ltr.gif) no-repeat center center;}
gm\:contentarea gm\:navcrumbssep.rtl {filter:flipH;}
gm\:contentarea gm\:navcrumbscurrent {color:#f6f6f6;}
gm\:contentarea gm\:navbutton {text-align:left;width:90px;height:30px;padding-top:7px;padding-left:25px;border:0px none;background-color:#336799;font-family:Verdana;font-weight:bold;font-size:9px;color:#e0e0e0;cursor:hand;z-index:1;}
gm\:contentarea gm\:navbutton.next {background:#336799 url(mildWater/btn_next.gif) no-repeat 8px center;}
gm\:contentarea gm\:navbutton.previous {background:#336799 url(mildWater/btn_prev.gif) no-repeat 8px center;}
gm\:contentarea gm\:navbutton.up {background:#336799 url(mildWater/btn_up.gif) no-repeat 8px center;}
gm\:contentarea gm\:navbutton.close {background:#336799 url(mildWater/btn_close.gif) no-repeat 8px center;}
gm\:contentarea gm\:navbutton.next_over {background:#336799 url(mildWater/btn_next.gif) no-repeat 8px center;color:white;}
gm\:contentarea gm\:navbutton.previous_over {background:#336799 url(mildWater/btn_prev.gif) no-repeat 8px center;color:white;}
gm\:contentarea gm\:navbutton.up_over {background:#336799 url(mildWater/btn_up.gif) no-repeat 8px center;color:white;}
gm\:contentarea gm\:navbutton.close_over {background:#336799 url(mildWater/btn_close.gif) no-repeat 8px center;color:white;}
gm\:contentarea gm\:navbutton.next_dis {background:#336799 url(mildWater/btn_next.gif) no-repeat 8px center;color:silver;}
gm\:contentarea gm\:navbutton.previous_dis {background:#336799 url(mildWater/btn_prev.gif) no-repeat 8px center;color:silver;}
gm\:contentarea gm\:navbutton.up_dis {background:#336799 url(mildWater/btn_up.gif) no-repeat 8px center;color:silver;}
gm\:contentarea gm\:navbutton.close_dis {background:#336799 url(mildWater/btn_close.gif) no-repeat 8px center;color:silver;}
gm\:contentarea gm\:navpopup {text-align:center;width:90px;height:30px;padding-top:7px;padding-left:7px;border:0px none;background-color:#336799;font-family:Verdana;font-weight:bold;font-size:9px;color:#e0e0e0;cursor:hand;z-index:1;}
gm\:contentarea gm\:navprogress {width:300px;height:20px;border:1px solid black;font-family:Verdana;font-weight:bold;font-size:9px;color:black;}
gm\:contentarea gm\:navprogressdone {background:#336799;border-right:0 none;color:#eef0da;}
gm\:contentarea gm\:navprogressnotdone {background-color:#eef0da;border-left:0 none;color:#336799;}
gm\:contentarea gm\:navlocator {
}
gm\:contentarea gm\:testfeedback {
}
gm\:contentarea gm\:tfbresults {
}
gm\:contentarea gm\:tfbresults {
}
gm\:contentarea gm\:tfbsummary {
}
gm\:contentarea gm\:tfbsummary table {
}
gm\:contentarea gm\:tfbsummary td {
}
gm\:contentarea gm\:tfbpass {
}
gm\:contentarea gm\:tfbfail {
}
gm\:contentarea gm\:tfbsections {
}
gm\:contentarea gm\:tfbsections table {
}
gm\:contentarea gm\:tfbsections th {
}
gm\:contentarea gm\:tfbsections td {;}
gm\:contentarea gm\:tfbdetails {
}
gm\:contentarea gm\:tfbdetails table {
}
gm\:contentarea gm\:tfbdetails th {
}
gm\:contentarea gm\:tfbdetails td {
}
gm\:contentarea gm\:tfbdetails .correct {
}
gm\:contentarea gm\:tfbdetails .incorrect {
}
gm\:contentarea gm\:tfbdetails .partial {
}
gm\:contentarea gm\:tfbreview {
}
gm\:contentarea gm\:objtrans {
}
gm\:contentarea gm\:narratemute {width:30px;height:30px;border:0 none;background:#336799 url(mildWater/narron.gif) no-repeat center center;}
gm\:contentarea gm\:narratemute.muted {background-image:url(mildWater/narroff.gif);}
gm\:contentarea gm\:ccbutton {width:30px;height:30px;border:0 none;background:#336799 url(mildWater/ccoff.gif) no-repeat center center;}
gm\:contentarea gm\:ccbutton.active {background-image:url(mildWater/ccon.gif);}
gm\:contentarea gm\:ccbox {border:1px solid #336799;width:450px;}
gm\:contentarea gm\:speech {
}
gm\:contentarea gm\:userid {
}
gm\:contentarea gm\:userlabel {
}
gm\:contentarea gm\:userid input {
}
gm\:contentarea gm\:usererr {
}
gm\:contentarea gm\:mplayer.theme gm\:mpstage {background-color:#e5e5e5;border:1px solid #003466;}
gm\:contentarea gm\:mplayer.theme gm\:mpcontrols {border:1px solid #003466;background:#003466 none;}
gm\:contentarea gm\:mplayer.theme gm\:mpplay {background:transparent url(mildWater/mpplay.gif) no-repeat center center;}
gm\:contentarea gm\:mplayer.theme gm\:mpplay.over {background:transparent url(mildWater/mpplayover.gif) no-repeat center center;}
gm\:contentarea gm\:mplayer.theme gm\:mpplay.pause {background:transparent url(mildWater/mppause.gif) no-repeat center center;}
gm\:contentarea gm\:mplayer.theme gm\:mpplay.pauseover {background:transparent url(mildWater/mppauseover.gif) no-repeat center center;}
gm\:contentarea gm\:mplayer.theme gm\:mpplay.buffering {background:transparent url(mildWater/mpbuffer.gif) no-repeat center center !important;}
gm\:contentarea gm\:mplayer.theme gm\:mpslider {background-color:#e5e5e5;border:1px solid #386da1;}
gm\:contentarea gm\:mplayer.theme gm\:mpslider gm\:mpbuffered {border-top:1px solid #accde5;}
gm\:contentarea gm\:mplayer.theme gm\:mpslider gm\:mpplayed {background-color:#5996cd;border-top:1px solid #8bb2d3;}
gm\:contentarea gm\:mplayer.theme gm\:mpstatus {color:white;background-color:#376a9f;}
gm\:contentarea gm\:mplayer.theme gm\:mpvolume {background-color:#e5e5e5;border:1px solid #386da1;}
gm\:contentarea gm\:mplayer.theme gm\:mpmute {background:transparent url(mildWater/mpsoundon.gif) no-repeat center center;}
gm\:contentarea gm\:mplayer.theme gm\:mpmute.on {background:transparent url(mildWater/mpsoundoff.gif) no-repeat center center;}
gm\:contentarea gm\:mplayer.theme gm\:mpsep {border-left:1px solid #003066;border-right:1px solid #8da4b4;}
gm\:contentarea gm\:blogcontainer {border:1px solid #d3d3d3;}
gm\:contentarea gm\:blogrecent, gm\:contentarea gm\:blogrecentcom, gm\:contentarea gm\:blogarchive, gm\:contentarea gm\:blogcategories, gm\:contentarea gm\:blogtagcloud, gm\:contentarea gm\:blogtoprated {border:1px solid #d3d3d3;}
gm\:contentarea gm\:blogwidgettitle {background-color:silver;border-bottom:1px solid #a0a0a0;}
gm\:contentarea gm\:blognavhome, gm\:contentarea gm\:blognavadd, gm\:contentarea gm\:blognavedit, gm\:contentarea gm\:blognavdel {font-size:12px;font-weight:bold;border:1px solid #003466;background-color:#003466;color:#e0e0e0;}
gm\:contentarea gm\:blogpost {border:1px solid #d3d3d3;}
gm\:contentarea gm\:blogpost .postTitle {
}
gm\:contentarea gm\:blogpost .postDetails {background-color:#edefd9;}
gm\:contentarea gm\:blog input {border:1px solid black;}
gm\:contentarea gm\:blog input {border:1px solid gray;}
gm\:contentarea gm\:blog gm\:richtext {border:1px solid gray;}
gm\:contentarea gm\:blogsubmit {border:1px solid #003466;background-color:#003466;color:#e0e0e0;}
gm\:contentarea gm\:blogcompost {border:1px solid #d3d3d3;}
gm\:contentarea gm\:blogcompost .comAuthor {font-size:11px;font-weight:bold;}
gm\:contentarea gm\:blogcomedit {border:1px solid #d3d3d3;}
gm\:contentarea gm\:blogcomedit gm\:notice {font-weight:bold;}
gm\:contentarea gm\:blog .over {color:#60a1d9;}
gm\:contentarea gm\:blogcontainer a {color:#003466;}
gm\:contentarea gm\:blogcontainer a:visited {color:#003466;}
gm\:contentarea gm\:blogcontainer a:hover {color:#60a1d9;}
gm\:contentarea .docComs gm\:blognavadd, gm\:contentarea .docComs gm\:blognavhome, gm\:contentarea .docComs gm\:blogsubmit {border:1px solid #003466;background-color:#003466;color:#e0e0e0;}
gm\:contentarea .docComs gm\:blogpost {margin:5px;border:1px solid gray;}
gm\:contentarea .docComs gm\:blogpost .postAuthor {font-weight:bold;}
gm\:contentarea gm\:login {border:1px solid #003466;background-color:#003466;color:#e0e0e0;}
gm\:contentarea gm\:loginform {border:1px solid #003466;background-color:#f8f9f3;color:#003466;}
gm\:contentarea gm\:loginform gm\:notice {border-bottom:1px solid #d3d3d3;}
gm\:contentarea gm\:loginform input {border:1px solid gray;}
gm\:contentarea gm\:loginreglabel {border-top:1px solid #d3d3d3;border-bottom:1px solid #d3d3d3;}
gm\:contentarea gm\:loginsubmit, gm\:contentarea gm\:loginregister {border:1px solid #003466;background-color:#003466;color:#e0e0e0;}
