gm\:richtext {width:100%;height:100%;}
gm\:richtext #oTBar {padding:4px 0;background-color:#e3e3e3;width:100%;position:relative;direction:ltr;}
gm\:richtext .limitedBar .limited {display:none;}
gm\:richtext table {width:100%;height:100%;background-color:transparent !important;border-collapse:collapse;border:5px solid #e3e3e3;border-top-width:0;}
gm\:richtext td { padding:0; }
gm\:richtext .tbRow {height:1px;position:relative;z-index:1;}
gm\:richtext .edRow {height:100%;}
gm\:richtext .edRow div {height:100%;width:100%;position:relative;}
gm\:richtext .edRow iframe {position:absolute;width:100%;height:100%;border:1px solid silver;background-color:transparent;}
gm\:richtext button {font-family:tahoma;font-size:11px;width:24px;height:22px;background:#e3e3e3 url(Images/richtext.gif) no-repeat;overflow:hidden;border:1px solid #e3e3e3;-moz-user-select:none;-moz-user-focus:ignore;padding:0;}
gm\:richtext button.over {border:1px solid silver;background-color:white;}
gm\:richtext button.selected {border:1px inset #e3e3e3;background-color:#efefef;}
gm\:richtext button.pressed {border:1px inset #e3e3e3;background-color:white;}
gm\:richtext .menu {display:inline;margin:0;padding:3px;margin-left:-24px;position:absolute;margin-top:20px;width:140px;visibility:hidden;z-index:1;border:1px solid silver;list-style-type:none !import;list-style-image:none !important;background-color:white;padding-bottom:0;font-size:11px;font-family:tahoma;}
gm\:richtext .menu table {border:none;}
gm\:richtext .clrTbl {padding:5px;}
gm\:richtext .menu button {width:100%;text-align:left;background-color:white;border-color:white;background-image:none;}
gm\:richtext .menu .clr {border:1px solid black;width:10px;height:10px;overflow:hidden;margin:3px;font-size:1px;padding:0;}
gm\:richtext .richDlg {padding-bottom:3px;width:100%;left:0;margin-left:0;}
gm\:richtext input, gm\:richtext textarea {width:100%;font-size:11px !important;font-family:tahoma !important;-moz-user-select:text !important;-moz-user-focus:normal !important;border:1px solid silver;}
gm\:richtext .richDlg td {font-size:11px;}
gm\:richtext .richDlg button {width:auto;_width:1px;overflow:visible;text-align:center;text-decoration:underline;color:#497278;padding:0 6px;white-space:nowrap;position:relative;top:-1px;}
gm\:richtext .htmlAdd {padding-bottom:24px;width:100%;}
gm\:richtext .htmlAdd button {position:absolute;_bottom:0;bottom:2px;right:6px;text-align:right;text-decoration:underline;color:#497278;width:auto;}