/* CSS file */
Application { 
   backgroundGradientColors: #222222, #777777;
}

Tree {
   backgroundColor: #aaaaaa;
   rollOverColor: #ffffdd;
   selectionColor: #ffffaa;
   color: #2b333c;
   textSelectedColor: #0000ff;
}

