<?xml version="1.0"?>
<nodo ca=" 1" le="05" label = "1.-Mi primer documento             " path="Capitulo1/FC01WORD2007.swf"   icon="">
<nodo ca=" 1" le="00" label = "Entorno de tabajo                  " path="Capitulo1/Capitulo0101.flv"   icon="ACheckBox"/>
<nodo ca=" 1" le="00" label = "Autoevaluación                     " path="Capitulo1/evaulacion11.swf"   icon="ARadioButton" />
</nodo>		 
<nodo ca=" 2" le="04" label = "2.-Elementos de Word2007           " path="Capitulo2/FC02WORD2007.swf"   icon="">
<nodo ca=" 2" le="00" label = "Ayuda de MSWORD                    " path="Capitulo2/Capitulo0201.flv"   icon="ACheckBox"/>
<nodo ca=" 2" le="00" label = "Autoevaluación                     " path="Capitulo2/evaulacion21.swf"   icon="ARadioButton" />
</nodo>		   
<nodo ca=" 3" le="12" label = "3.-Edición básica            	  " path="Capitulo3/FC03WORD2007.swf"   icon="-">
<nodo ca=" 3" le="00" label = "Desplazar, seleccionar             " path="Capitulo3/Capitulo0301.flv"   icon="ACheckBox"/>
<nodo ca=" 3" le="01" label = "Deshacer y rehacer                 " path="Capitulo3/Capitulo0302.flv"   icon="ACheckBox"/>
<nodo ca=" 3" le="02" label = "Vistas de presentación             " path="Capitulo3/Capitulo0303.flv"   icon="ACheckBox"/>
<nodo ca=" 3" le="00" label = "Evaulación Capítulo                " path="Capitulo3/evaulacion31.swf"   icon="ARadioButton" />
</nodo>		  
<nodo ca=" 4" le="06" label = "4.-Guardar y abrir documentos.     " path="Capitulo4/FC04WORD2007.swf"   icon="">
<nodo ca=" 4" le="00" label = "Guardar Documentos                 " path="Capitulo4/Capitulo0401.flv"   icon="ACheckBox"/>
<nodo ca=" 4" le="00" label = "Evaluación Capítulo                " path="Capitulo4/evaulacion41.swf"   icon="ARadioButton" />
</nodo>		   
<nodo ca=" 5" le="12" label = "5.-Formatos.			  " path="Capitulo5/FC05WORD2007.swf"   icon="">
<nodo ca=" 5" le="00" label = "Formato de texto.                  " path="Capitulo5/Capitulo0501.flv"   icon="ACheckBox"/>
<nodo ca=" 5" le="01" label = "Tabulaciones                       " path="Capitulo5/Capitulo0502.flv"   icon="ACheckBox"/>
<nodo ca=" 5" le="02" label = "Panel de formato                   " path="Capitulo5/Capitulo0503.flv"   icon="ACheckBox"/>
<nodo ca=" 5" le="00" label = "Evaluación Capítulo                " path="Capitulo5/evaulacion51.swf"   icon="ARadioButton" />
<nodo ca=" 5" le="03" label = "Ejercicios                         " path=""     		        icon="ADataGrid">
<nodo ca=" 5" le="03" label = "Formatos                           " path="Capitulo0/Ejercicio0501.swf"     icon="ADataGrid"/>
<nodo ca=" 5" le="03" label = "Cuestionarios de formato           " path="Capitulo0/Ejercicio0502.swf"     icon="ADataGrid"/>
<nodo ca=" 5" le="03" label = "Tabulaciones                       " path="Capitulo0/Ejercicio0503.swf"     icon="ADataGrid"/>
<nodo ca=" 5" le="03" label = "Columnas                           " path="Capitulo0/Ejercicio0504.swf"     icon="ADataGrid"/>
<nodo ca=" 5" le="03" label = "Numeración y viñetas               " path="Capitulo0/Ejercicio0505.swf"     icon="ADataGrid"/>
<nodo ca=" 5" le="03" label = "Repaso formato 1                   " path="Capitulo0/Ejercicio0506.swf"     icon="ADataGrid"/>
<nodo ca=" 5" le="03" label = "Repaso viñetas 1                   " path="Capitulo0/Ejercicio0507.swf"     icon="ADataGrid"/>
<nodo ca=" 5" le="03" label = "Repaso formato 2                   " path="Capitulo0/Ejercicio0508.swf"     icon="ADataGrid"/>
<nodo ca=" 5" le="03" label = "Repaso viñetas 2                   " path="Capitulo0/Ejercicio0509.swf"     icon="ADataGrid"/>
</nodo>
</nodo>		  
<nodo ca=" 6" le="09" label = "6.-Ortografía y gramática.         " path="Capitulo6/FC06WORD2007.swf"   icon="">
<nodo ca=" 6" le="00" label = "Revisión ortográfica               " path="Capitulo6/Capitulo0601.flv"   icon="ACheckBox"/>
<nodo ca=" 6" le="01" label = "Revisión gramatical                " path="Capitulo6/Capitulo0602.flv"   icon="ACheckBox"/>
<nodo ca=" 6" le="02" label = "Autocorrección                     " path="Capitulo6/Capitulo0603.flv"   icon="ACheckBox"/>
<nodo ca=" 6" le="00" label = "Evaluación Capítulo                " path="Capitulo6/evaulacion61.swf"   icon="ARadioButton" />
<nodo ca=" 6" le="03" label = "Ejercicios                         " path=""     		        icon="ADataGrid">
<nodo ca=" 6" le="03" label = "Ortografía                         " path="Capitulo0/Ejercicio0601.swf"     icon="ADataGrid"/>
</nodo>
</nodo>		   
<nodo ca=" 7" le="08" label = "7.-Diseño de página  	          " path="Capitulo7/FC07WORD2007.swf"   icon="">
<nodo ca=" 7" le="00" label = "Números de página                  " path="Capitulo7/Capitulo0701.flv"   icon="ACheckBox"/>
<nodo ca=" 7" le="01" label = "Encabezado y pie de página         " path="Capitulo7/Capitulo0702.flv"   icon="ACheckBox"/>
<nodo ca=" 7" le="00" label = "Evaluación Capítulo                " path="Capitulo7/evaulacion71.swf"   icon="ARadioButton" />
<nodo ca=" 7" le="03" label = "Ejercicios                         " path=""     		        icon="ADataGrid">
<nodo ca=" 7" le="03" label = "Varios documentos                  " path="Capitulo0/Ejercicio0701.swf"     icon="ADataGrid"/>
</nodo>
</nodo>		   
<nodo ca=" 8" le="08" label = "8.-Tablas                          " path="Capitulo8/FC08WORD2007.swf"   icon="">
<nodo ca=" 8" le="00" label = "Crear Tablas                       " path="Capitulo8/Capitulo0801.flv"   icon="ACheckBox"/>
<nodo ca=" 8" le="01" label = "Manipulando tablas                 " path="Capitulo8/Capitulo0802.flv"   icon="ACheckBox"/>
<nodo ca=" 8" le="02" label = "Ajustar tabla al texto             " path="Capitulo8/Capitulo0803.flv"   icon="ACheckBox"/>
<nodo ca=" 8" le="03" label = "Ajustar imagen de celda            " path="Capitulo8/Capitulo0804.flv"   icon="ACheckBox"/>
<nodo ca=" 8" le="04" label = "Convertir texto en tabla           " path="Capitulo8/Capitulo0805.flv"   icon="ACheckBox"/>
<nodo ca=" 8" le="00" label = "Evaluación Capítulo                " path="Capitulo8/evaulacion81.swf"   icon="ARadioButton" />
<nodo ca=" 8" le="03" label = "Ejercicios                         " path=""     		        icon="ADataGrid">
<nodo ca=" 8" le="03" label = "Tablas 1                           " path="Capitulo0/Ejercicio0801.swf"     icon="ADataGrid"/>
<nodo ca=" 8" le="03" label = "Tablas 2                           " path="Capitulo0/Ejercicio0802.swf"     icon="ADataGrid"/>
<nodo ca=" 8" le="03" label = "Tablas 3                           " path="Capitulo0/Ejercicio0803.swf"     icon="ADataGrid"/>
<nodo ca=" 8" le="03" label = "Tablas 4                           " path="Capitulo0/Ejercicio0804.swf"     icon="ADataGrid"/>
</nodo>
</nodo>		   
<nodo ca=" 9" le="04" label = "9.-Estilos                         " path="Capitulo9/FC09WORD2007.swf"   icon="">
<nodo ca=" 9" le="00" label = "Aplicar estilos                    " path="Capitulo9/Capitulo0901.flv"   icon="ACheckBox"/>
<nodo ca=" 9" le="01" label = "Crear estilos                      " path="Capitulo9/Capitulo0902.flv"   icon="ACheckBox"/>
<nodo ca=" 9" le="00" label = "Evaluación Capítulo                " path="Capitulo9/evaulacion91.swf"   icon="ARadioButton" />
<nodo ca=" 9" le="03" label = "Ejercicios                         " path=""     		        icon="ADataGrid">
<nodo ca=" 9" le="03" label = "Estilos 1                          " path="Capitulo0/Ejercicio0901.swf"     icon="ADataGrid"/>
<nodo ca=" 9" le="03" label = "Estilos 2                          " path="Capitulo0/Ejercicio0902.swf"     icon="ADataGrid"/>
<nodo ca=" 9" le="03" label = "Estilos 3                          " path="Capitulo0/Ejercicio0903.swf"     icon="ADataGrid"/>
</nodo>
</nodo>		   
<nodo ca="10" le="07" label = "10.-Plantillas		          " path="Capitulo10/FC10WORD2007.swf"  icon="">
<nodo ca="10" le="00" label = "Utilizar plantillas                " path="Capitulo10/Capitulo1001.flv"  icon="ACheckBox"/>
<nodo ca="10" le="01" label = "Modificar plantillas               " path="Capitulo10/Capitulo1002.flv"  icon="ACheckBox"/>
<nodo ca="10" le="00" label = "Evaluación Capítulo                " path="Capitulo10/evaulacion101.swf" icon="ARadioButton" />
<nodo ca="10" le="03" label = "Ejercicios                         " path=""     		        icon="ADataGrid">
<nodo ca="10" le="03" label = "Plantilla                          " path="Capitulo0/Ejercicio1001.swf"     icon="ADataGrid"/>
<nodo ca="10" le="03" label = "Formulario 1                       " path="Capitulo0/Ejercicio1002.swf"     icon="ADataGrid"/>
<nodo ca="10" le="03" label = "Formulario 2                       " path="Capitulo0/Ejercicio1003.swf"     icon="ADataGrid"/>
<nodo ca="10" le="03" label = "Carta Repaso                       " path="Capitulo0/Ejercicio1004.swf"     icon="ADataGrid"/>
<nodo ca="10" le="03" label = "Pedido                             " path="Capitulo0/Ejercicio1005.swf"     icon="ADataGrid"/>
<nodo ca="10" le="03" label = "Plantillas y Formularios           " path="Capitulo0/Ejercicio1006.swf"     icon="ADataGrid"/>
</nodo>
</nodo>		  
<nodo ca="11" le="13" label = "11.-Imágenes y Gráficos		  " path="Capitulo11/FC11WORD2007.swf"  icon="">
<nodo ca="11" le="00" label = "Gráficos                           " path="Capitulo11/Capitulo1101.flv"  icon="ACheckBox"/>
<nodo ca="11" le="00" label = "WordArt                            " path="Capitulo11/Capitulo1102.flv"  icon="ACheckBox"/>
<nodo ca="11" le="00" label = "Evaluación Capítulo                " path="Capitulo11/evaulacion111.swf" icon="ARadioButton" />
<nodo ca="11" le="03" label = "Ejercicios                         " path=""     		        icon="ADataGrid">
<nodo ca="11" le="03" label = "Imágenes,autoformas y WordArt      " path="Capitulo0/Ejercicio1101.swf"     icon="ADataGrid"/>
<nodo ca="11" le="03" label = "Carteles publicitarios             " path="Capitulo0/Ejercicio1102.swf"     icon="ADataGrid"/>
<nodo ca="11" le="03" label = "Carteles publicitarios             " path="Capitulo0/Ejercicio1103.swf"     icon="ADataGrid"/>
</nodo>
</nodo>		   
<nodo ca="12" le="06" label = "12.-Impresión                      " path="Capitulo12/FC12WORD2007.swf"  icon="">
<nodo ca="12" le="00" label = "Imprimir                           " path="Capitulo12/Capitulo1201.flv"  icon="ACheckBox"/>
<nodo ca="12" le="00" label = "Evaluación Capítulo                " path="Capitulo12/evaulacion121.swf" icon="ARadioButton" />
</nodo>		   
<nodo ca="13" le="06" label = "13.-Páginas Web con Word2007       " path="Capitulo13/FC13WORD2007.swf"  icon="">
<nodo ca="13" le="00" label = "Crear una página Web               " path="Capitulo13/Capitulo1301.flv"  icon="ACheckBox"/>
<nodo ca="13" le="00" label = "Evaluación Capítulo                " path="Capitulo13/evaulacion131.swf" icon="ARadioButton" />
<nodo ca="13" le="03" label = "Ejercicios                         " path=""     		        icon="ADataGrid">
<nodo ca="13" le="03" label = "Creación páginas Web con Word2007  " path="Capitulo0/Ejercicio1301.swf"     icon="ADataGrid"/>
</nodo>
</nodo>		   
<nodo ca="14" le="14" label = "14.-Combinar Correspondencia       " path="Capitulo14/FC14WORD2007.swf"  icon="">
<nodo ca="14" le="00" label = "Combinar correspondencia           " path="Capitulo14/Capitulo1401.flv"  icon="ACheckBox"/>
<nodo ca="14" le="00" label = "Barra correspondencia              " path="Capitulo14/Capitulo1402.flv"  icon="ACheckBox"/>
<nodo ca="14" le="00" label = "Evaluación Capítulo                " path="Capitulo14/evaulacion141.swf" icon="ARadioButton" />
</nodo>		   
<nodo ca="15" le="06" label = "15.-Esquemas	                  " path="Capitulo15/FC15WORD2007.swf"  icon="">
<nodo ca="15" le="00" label = "Crear esquemas                     " path="Capitulo15/Capitulo1501.flv"  icon="ACheckBox"/>
<nodo ca="15" le="00" label = "Barra esquemas                     " path="Capitulo15/Capitulo1502.flv"  icon="ACheckBox"/>
<nodo ca="15" le="00" label = "Evaluación Capítulo                " path="Capitulo15/evaulacion151.swf" icon="ARadioButton" />
</nodo>		   
<nodo ca="16" le="06" label = "16.-Documentos Maestros            " path="Capitulo16/FC16WORD2007.swf"  icon="">
<nodo ca="16" le="00" label = "Documentos maestros                " path="Capitulo16/Capitulo1601.flv"  icon="ACheckBox"/>
<nodo ca="16" le="00" label = "Botones documentos maestros        " path="Capitulo16/Capitulo1602.flv"  icon="ACheckBox"/>
<nodo ca="16" le="00" label = "Evaluación Capítulo                " path="Capitulo16/evaulacion161.swf" icon="ARadioButton" />
</nodo>		   
<nodo ca="17" le="13" label = "17.-Crear TDC, TDI e índices       " path="Capitulo17/FC17WORD2007.swf"  icon="">
<nodo ca="17" le="00" label = "Crear índice                       " path="Capitulo17/Capitulo1701.flv"  icon="ACheckBox"/>
<nodo ca="17" le="01" label = "Crear tabla de contenido           " path="Capitulo17/Capitulo1702.flv"  icon="ACheckBox"/>
<nodo ca="17" le="02" label = "Crear tabla de ilustraciones       " path="Capitulo17/Capitulo1703.flv"  icon="ACheckBox"/>
<nodo ca="17" le="00" label = "Evaluación Capítulo                " path="Capitulo17/evaulacion171.swf" icon="ARadioButton" />
</nodo>		  
<nodo ca="18" le="12" label = "18.-Marcadores,ref.cruz.           " path="Capitulo18/FC18WORD2007.swf"  icon="">
<nodo ca="18" le="00" label = "Marcadores                         " path="Capitulo18/Capitulo1801.flv"  icon="ACheckBox" />
<nodo ca="18" le="01" label = "Referencias cruzadas               " path="Capitulo18/Capitulo1802.flv"  icon="ACheckBox"/>
<nodo ca="18" le="01" label = "Notas al pie                       " path="Capitulo18/Capitulo1803.flv"  icon="ACheckBox"/>
<nodo ca="18" le="00" label = "Evaluación Capítulo                " path="Capitulo18/evaulacion181.swf" icon="ARadioButton" />
</nodo>